/* CSS cho trang sản phẩm*/


/* GLOBAL */

* {
    overflow-x: hidden;
    font-family: 'Quicksand', sans-serif;
}

.main_products:before {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background: rgba(153, 152, 152, 0.2);
    margin-top: 80px;
}

.main_products {
    height: 2358px;
    margin-top: 110px;
    /* margin-left: 180px;
    margin-right: 180px; */
    /* position: relative; */
}

.main_products .dropdown {
    height: 30px;
    text-align: center;
    position: absolute;
    right: 80px;
    top: 133px;
    z-index: 100;
}

header .menu__content #grimmNavbar .navbar-nav .nav-item .products__item {
    border-bottom: 3px solid white;
    color: white;
}

.products-img {
    position: relative;
    /* để ẩn thẻ con mà rời thẻ cha */
    overflow: hidden;
    border-radius: 4px;
}

.products-img img {
    width: 223px;
    height: 213px;
}

.products-content {
    margin-top: 100px;
    margin-left: 48px;
}

.products-item {
    margin-right: 34px;
    margin-bottom: 30px;
    cursor: pointer;
}

.product-item-click {
    text-decoration: none;
    /* margin-right: 34px;
    margin-bottom: 30px;
     */
}

.products-item:hover .products-img-hover img {
    opacity: 1;
}

.products-img-hover img {
    opacity: 0;
    transition: all 0.5s ease-in-out;
    position: absolute;
    top: 0;
    height: 100%;
    left: 0;
}

.products-name {
    font-size: 12px;
}

#pagination {
    text-align: right;
    margin-top: 35px;
    margin-left: 480px;
    position: sticky;
    height: 40px;
}

.page-item {
    border: 1px solid #ccc;
    padding: 5px 9px;
    color: #000;
    height: 140px;
}

.current-page {
    background: #000;
    color: #FFF;
}

@media only screen and (max-width:600px) {
    .main_products {
        width: 300px;
        height: 100%;
    }
}


/* css đèn */

.lightrope {
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    position: absolute;
    z-index: 1;
    margin: -15px 0 0 0;
    padding: 0;
    pointer-events: none;
    width: 100%;
}

.lightrope li {
    position: relative;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
    width: 12px;
    height: 28px;
    border-radius: 50%;
    margin: 20px;
    display: inline-block;
    background: rgba(0, 247, 165, 1);
    box-shadow: 0px 4.6666666667px 24px 3px rgba(0, 247, 165, 1);
    animation-name: flash-1;
    animation-duration: 2s;
}

.lightrope li:nth-child(2n+1) {
    background: rgba(0, 255, 255, 1);
    box-shadow: 0px 4.6666666667px 24px 3px rgba(0, 255, 255, 0.5);
    animation-name: flash-2;
    animation-duration: 0.4s;
}

.lightrope li:nth-child(4n+2) {
    background: rgba(247, 0, 148, 1);
    box-shadow: 0px 4.6666666667px 24px 3px rgba(247, 0, 148, 1);
    animation-name: flash-3;
    animation-duration: 1.1s;
}

.lightrope li:nth-child(odd) {
    animation-duration: 1.8s;
}

.lightrope li:nth-child(3n+1) {
    animation-duration: 1.4s;
}

.lightrope li:before {
    content: "";
    position: absolute;
    background: #222;
    width: 10px;
    height: 9.3333333333px;
    border-radius: 3px;
    top: -4.6666666667px;
    left: 1px;
}

.lightrope li:after {
    content: "";
    top: -14px;
    left: 9px;
    position: absolute;
    width: 52px;
    height: 18.6666666667px;
    border-bottom: solid #222 2px;
    border-radius: 50%;
}

.lightrope li:last-child:after {
    content: none;
}

.lightrope li:first-child {
    margin-left: -40px;
}

@keyframes flash-1 {
    0%,
    100% {
        background: rgba(0, 247, 165, 1);
        box-shadow: 0px 4.6666666667px 24px 3px rgba(0, 247, 165, 1);
    }
    50% {
        background: rgba(0, 247, 165, 0.4);
        box-shadow: 0px 4.6666666667px 24px 3px rgba(0, 247, 165, 0.2);
    }
}

@keyframes flash-2 {
    0%,
    100% {
        background: rgba(0, 255, 255, 1);
        box-shadow: 0px 4.6666666667px 24px 3px rgba(0, 255, 255, 1);
    }
    50% {
        background: rgba(0, 255, 255, 0.4);
        box-shadow: 0px 4.6666666667px 24px 3px rgba(0, 255, 255, 0.2);
    }
}

@keyframes flash-3 {
    0%,
    100% {
        background: rgba(247, 0, 148, 1);
        box-shadow: 0px 4.6666666667px 24px 3px rgba(247, 0, 148, 1);
    }
    50% {
        background: rgba(247, 0, 148, 0.4);
        box-shadow: 0px 4.6666666667px 24px 3px rgba(247, 0, 148, 0.2);
    }
}


/* CSS phần Vertical Menu */

.section__vertical__menu {
    margin-left: 85px;
    margin-top: 54px;
    position: fixed;
    z-index: 10000;
    width: 20%;
    max-height: 500px;
}

.section__vertical__menu .nav-item .nav-link {
    color: #272727;
    font-weight: 550;
    font-size: 15px;
    line-height: 28px;
    border-bottom: 2px dashed #e5e5e5;
    padding: 5px 5px 5px 0;
}


/* CSS phần LOOK UP */

.main_products .lookup__section {
    text-align: center;
    position: absolute;
    right: 264px;
    top: 133px;
    z-index: 100;
}

.lookup__section input[type=text] {
    width: 80px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

.lookup__section input[type=text]:focus {
    width: 300px;
}